@using Communication
@model Web.Models.Photos

<script src="~/Scripts/bootstrap-confirmation.js"></script>
@{
    ViewBag.Title = "Photos";
}
<hr/>

@if (Model.Thumbnails.Count == 0)
{
    <h2>Nothing to see here... Yet.</h2>
    <div class="mx-auto" style="width: 600px">
        <img src="/Images/family-guy-stewie.jpg" class="rounded-circle" alt="Dummy Image">
    </div>
}

<div class="container" id="tourpackages-carousel">
    <div class="row">
        @foreach (PhotoInfo photoInfo in Model.Thumbnails)
        {
            string relativeThumbnailPath = "../Images/" + Utils.AbsoluteToRelativePath(photoInfo.ThumbnailPath, Model.OutputDirectory);
            string relativeImagePath = "../Images/" + Utils.AbsoluteToRelativePath(photoInfo.ImagePath, Model.OutputDirectory);
            <div class="col-sm-3 col-sm-3 col-sm-3 col-sm-3">
                <img src=@relativeThumbnailPath alt="" class="rounded-circle" width="242" height="200">
                <div align="center">
                    <span class="d-inline-block text-truncate font-weight-bold" style="font-size: large; max-width: 200px;">@photoInfo.Name</span>
                    <p>@photoInfo.CreationDate</p>
                    <p>
                        <input type="button" class="btn btn-primary" value="View" data-title="@photoInfo.Name" data-date="@photoInfo.CreationDate" data-absolute-img="@photoInfo.ImagePath" data-absolute-tmb="@photoInfo.ThumbnailPath" data-toggle="modal" data-target="#ViewImageModal" data-path="@relativeImagePath"/>
                        <input type="button" class="btn btn-danger" value="Delete" data-toggle="modal" data-target="#del-img-modal" data-absolute-img="@photoInfo.ImagePath" data-absolute-tmb="@photoInfo.ThumbnailPath"/>
                    </p>
                </div>
            </div>
        }
    </div>
</div>

<!-- Delete Photo Modal -->
<div class="modal fade" id="del-img-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to delete this photo?<br/>
                    This cannot be undone.
                </p>
            </div>
            <div class="modal-footer">
                <input type="button" id="delete-button" class="btn btn-danger" handler="" value="Delete" onclick=""/>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>


<script>

    $('#exampleModal').on('shown.bs.modal',
        function() {
            $('#myInput').trigger('focus');
        });

    $('#del-img-modal').on('show.bs.modal',
        function(event) {
            var button = $(event.relatedTarget);
            var modal = $(this);

            lastImage = button.data('absolute-img');
            lastThumbnail = button.data('absolute-tmb');

            // A workaround to pass JQuery parameter to Razor
            var url =
                '@Html.Raw(Url.Action("DeletePhoto", "Photos", new {image = "__param1__", thumbnail = "__param2__"}))';
            var replacedUrl = url.replace('__param1__', lastImage);
            replacedUrl = replacedUrl.replace('__param2__', lastThumbnail);

            // Sets "Yes" button onclick to delete corresponding handler
            var yesButton = modal.find('.modal-footer input');
            var noButton = modal.find('.modal-footer button');
            yesButton.click(function() {
                yesButton.attr("disabled", true);
                noButton.attr("disabled", true);
                location.href = replacedUrl;
            });
        });

</script>

<!-- View Image Modal -->
<div class="modal modal-dark fade" id="ViewImageModal" tabindex="-1" role="document" aria-labelledby="ViewImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dark modal-full-width" role="document">
        <div class="modal-content modal-darker">
            <div class="modal-header-no-line float-right">
                <div class="mx-auto">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-auto text-white d-inline-block text-truncate font-weight-bold">
                                <span id="view-modal-img-title" style="font-size: large; max-width: 50vw;">Image Title</span>
                            </div>
                            <div class="col-sm text-light">
                                <span id="view-modal-img-date" style="font-size: large; font-weight: normal;">Date</span>
                            </div>
                            <div class="col-sm">
                                @* Deletion confirmation popover *@
                                <button id="del-confirm" class="btn btn-lg btn-danger" data-toggle="confirmation"
                                        data-popout="true"
                                        data-btn-ok-label="Delete" data-btn-ok-class="btn-danger"
                                        data-btn-ok-icon-class="material-icons"
                                        data-btn-cancel-label="Cancel" data-btn-cancel-class="btn-secondary"
                                        data-btn-cancel-icon-class="material-icons"
                                        data-title="Are you sure?" data-content="This cannot be undone.">
                                    Delete
                                </button>
                            </div>
                            <div class="col-sm">
                                <input id="del-cancel" type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" value="Close" aria-label="Close"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body align-items-center">
                <img id="current-img" absolute="" class="mx-auto d-block img-responsive" src="" alt="Test"/>
            </div>
        </div>
    </div>
</div>

<script>
    var lastImage = null;
    var lastThumbnail = null;

    $(function() {
        $('[data-toggle="popover"]').popover();
    });

    $(function() {
        $('[data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]',
            singleton: true,
            popout: true,
            onConfirm: function() {

                // Disables buttons on delete confirmation.
                $('#del-cancel').attr('disabled', true);
                $('#del-confirm').attr('disabled', true);

                // A workaround to pass JQuery parameter to Razor
                var url =
                    '@Html.Raw(Url.Action("DeletePhoto", "Photos", new {image = "__param1__", thumbnail = "__param2__"}))';
                var replacedUrl = url.replace('__param1__', lastImage);
                replacedUrl = replacedUrl.replace('__param2__', lastThumbnail);

                location.href = replacedUrl;
            }
        });
    });

    $('#ViewImageModal').on('shown.bs.modal',
        function() {
            $('#myInput').trigger('focus');
        });


    $('#ViewImageModal').on('show.bs.modal',
        function(event) {
            var button = $(event.relatedTarget);
            var path = button.data('path');
            var modal = $(this);
            lastImage = button.data('absolute-img');
            lastThumbnail = button.data('absolute-tmb');
            var image = modal.find('.modal-body img');
            image.attr("src", path);
            $('#view-modal-img-title').text(button.data('title'));
            $('#view-modal-img-date').text(button.data('date'));
        });
</script>