@using Infrastructure
@model Web.Models.Home
@{
    ViewBag.Title = "Home";
}
<hr/>
<h4>Overview</h4>
<table class="table table-striped table-dark">
    <tbody>
    <tr>
        <th>Service Status</th>
        <td class="text-md-center">
            @if (Model.Active)
            {
                <span style="font-weight: bold; font-size: large" class="badge badge-success">Active</span>
            }
            else
            {
                <span style="font-weight: bold; font-size: large" class="badge badge-warning">Inactive</span>
            }
        </td>
    </tr>
    <tr>
        <th>Number of Stored Photos</th>
        <td class="text-center">@if (Model.NumberOfPhotos > 0)
                                {
                                    <span style="font-weight: normal; font-size: large">@Model.NumberOfPhotos</span>
                                    
                                }
                                else
                                {
                                    <span style="font-weight: normal; font-size: large">N / A</span>
                                }</td>
    </tr>
    </tbody>
</table>
<hr/>
<h4>Students</h4>
<table class="table table-striped table-dark">
    <tbody>
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.StudentsInfoRoot.StudentsInfo[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentsInfoRoot.StudentsInfo[0].FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentsInfoRoot.StudentsInfo[0].LastName)
        </th>
    </tr>

    @{
        if (Model.StudentsInfoRoot != null)
        {
            foreach (StudentInfo studentInfo in Model.StudentsInfoRoot.StudentsInfo)
            {
                <tr>
                    <td>@Html.DisplayName(studentInfo.Id)</td>
                    <td>@Html.DisplayName(studentInfo.FirstName)</td>
                    <td>@Html.DisplayName(studentInfo.LastName)</td>
                </tr>
            }
        }
        
    }
    </tbody>
</table>