@model Web.Models.Logs
@{
    ViewBag.Title = "Logs";
}

<hr/>

@if (Model.LogList.Count == 0)
{
    <div class="mx-auto" style="width: 600px">
        <h2>No logs... Peace among worlds!</h2>
        <img src="/Images/rick-and-morty.gif" class="rounded-circle" alt="Dummy Image">
    </div>
    return;
}

<div style="font-size: 30px; text-align: center;">
    <input id="info-btn"type="button" state="isPressed" onclick="filterTable(this)" value="Information" class="btn btn-success">
    <input id="err-btn" type="button" state="isPressed" onclick="filterTable(this)" value="Error" class="btn btn-danger">
    <input id="wrn-btn" type="button" state="isPressed" onclick="filterTable(this)" value="Warning" class="btn btn-warning">
</div>
<br/>

<script>
    if ("@Model.NoWarnings" === "True") {
        $('#wrn-btn').attr("disabled", true);
        $('#wrn-btn').attr("class", "btn btn-secondary");
    }

    if ("@Model.NoErrors" === "True") {
        $('#err-btn').attr("disabled", true);
        $('#err-btn').attr("class", "btn btn-secondary");
    }

    if ("@Model.NoInformation" === "True") {
        $('#info-btn').attr("disabled", true);
        $('#info-btn').attr("class", "btn btn-secondary");
    }
</script>

<table id="myTable" class="table table-striped table-dark">
    <tbody>
    @foreach (Tuple<string, string> item in Model.LogList)
    {
        <tr>
            <td id=@Html.DisplayName(item.Item1) style="vertical-align: middle; width: 20%;">
                <h4>
                    <span style="display: block; float: left; width: 100%;" class=@Html.DisplayName(item.Item1)>@Html.DisplayName(item.Item1)</span>
                </h4>
            </td>
            <td style="vertical-align: middle; width: 80%; word-break: break-all;">
                <span>
                    @Html.DisplayName(item.Item2)
                </span>
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
    $('.Error').addClass('badge badge-danger');
    $('.Information').addClass('badge badge-success');
    $('.Warning').addClass('badge badge-warning');

    function filterTable(checkbox) {
        var table = document.getElementById("myTable");
        var tr = table.getElementsByTagName("tr");
        var shouldDisplay = "";
        var td;

        if (checkbox.state === "isPressed") {
            checkbox.state = "isNotPressed";
            $(checkbox).removeClass("btn-secondary");

            if (checkbox.value === "Information") {
                $(checkbox).addClass("btn-success");
            } else if (checkbox.value === "Error") {
                $(checkbox).addClass("btn-danger");
            } else {
                $(checkbox).addClass("btn-warning");
            }
        } else {
            shouldDisplay = "none";
            checkbox.state = "isPressed";
            $(checkbox).attr("class", "btn btn-secondary");
        }

        for (var i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];

            if (td) {
                if (td.id === checkbox.value) {
                    tr[i].style.display = shouldDisplay;
                }
            }
        }
    }
</script>